#wrapper section > .mapzangu {
  padding: 0 0;
  height: 100vh;
  margin-top: -7.5rem;
}

#wrapper section > .mapzangu2 {
  padding: 0 0;
  height: 100vh;
  margin-top: -7.5rem;
}

.image.partners img {
  width: 50%;
}
